**/*out
# core latex gitignore
*.pdf

*.synctex.gz
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.pdf
*.ptc
*.tdo

*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs


*.lol


*.idx
*.ilg
*.ind
*.ist
                                                                                                                   

